@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Poppins:wght@100;200;300;500;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.5s;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #515966;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-content {
  width: 100%;
  max-width: 450px;
  background-color: #2C2F35;
  padding: 50px 60px 70px;
  text-align: center;
  border-radius: 25px;
}

.form-content h1 {
  font-size: 35px;
  margin-bottom: 60px;
  color: #ffffff;
  position: relative;

}

.form-content h1::after {
  content: '';
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: #04BD7D;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translate(-50%);

}

.input-field {
  background-color: #515966;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  transition: max-height 0.5s;
  overflow: hidden;
}

input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: none;
  padding: 18px 15px;
  color: #ffffff;
}

input::placeholder {
  color: #ffffff;
}

.input-field i {
  margin-left: 15px;
  color: #04BD7D;
}

form p {
  color: #ffffff;
  text-align: left;
  font-size: 13px;
}

form p a {
  color: #04BD7D;
  margin-left: 5px;
}

.btn-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.btn-field button {
  flex-basis: 48%;
  font-size: 16px;
  background-color: #04BD7D;
  color: #ffffff;
  height: 40px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
}

.input-group {
  height: 250px;
  position: relative;
}

.btn-field button.disable {
  background-color: #EAEAEA;
  color: #2C2F35;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3;
}